#footer {
    .dark-background-footer {
        background: $navigation-color-dark;
        border-bottom: 1px #181818 solid;
    }
    .light-background-footer {
        background: $navigation-color-light;
        border-bottom: 1px #999 solid;
    }
    .footer {
        &-dark-font {
            color: $navigation-color-dark;
        }
        &-light-font {
            color: $navigation-color-light;
        }
    }  
}