/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

html body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

#panel-manage-site_administration_navigation .tree-node .tree-node .tree-node a.layout-tree-add {
  display: none;
}

/*-------------------------------------
NAVBAR
-------------------------------------*/

@media(min-width: 768px) {
  .navbar-custom {
    background-color: rgba(0, 0, 0, 0);
  }

  .adjust-theme-for-control-menu {
    margin-top: 65px;
  }

  .adjust-navbar-for-control-menu {
    top: 65px;
  }

  .child-menu {
    position: absolute;
  }
}

@media(max-width: 767px) {
  .adjust-navbar-for-control-menu {
    top: 49px;
  }

  .child-menu {
    position: relative;
  }
}

.navbar-custom {
  border-width: 0;
  padding: 15px;
  transition : 0.2s ease-in;

  .navbar-collapse {
    border-width: 0;
  }

  .brand-name {
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    text-transform: uppercase;
  }

  .nav-links {
    float: right;

    li > a {
      padding-left: 0;
      padding-right: 0;
      text-align: right;

      span {
        border: 1px solid transparent;
        border-radius: 20px;
        color: rgba(255, 255, 255, 1);
        font-size: 12px;
        margin: 0 3px;
        padding: 5px 14px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s ease-out;

        &:hover {
          border: 1px solid rgba(255, 255, 255, 1);
          border-radius: 20px;
          transition: 0.2s ease-in;
        }
      }
    }
  }

  .child-menu {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    text-align: center;
    text-transform: uppercase;
    width: 150px;

    a {
      color: rgba(255, 255, 255, 1);
      font-size: 10px;

      &:hover {
        color: rgba(150, 150, 150, 1);
        text-decoration: none;
      }
    }
  }
}

.navbar-white {
  background-color : rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2);
  padding-bottom : 3px;
  padding-top : 3px;
  transition : 0.2s ease-in;

  .brand-name {
    color: rgba(0, 0, 0, 1);
    font-size: 25px;
    text-transform: uppercase;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }

  .nav-links {
    float: right;

    li > a {
      padding-left: 0;
      padding-right: 0;
      text-align: right;

      span {
        border: 1px solid transparent;
        border-radius: 20px;
        color: rgba(0, 0, 0, 1);
        font-size: 12px;
        margin: 0 3px 0 3px;
        padding: 5px 14px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s ease-out;

        &:hover {
          border: 1px solid rgba(0, 0, 0, 1);
          border-radius: 20px;
          color: rgba(0, 0, 0, 1);
          transition: 0.2s ease-in;
        }

        &:focus {
          color: rgba(0, 0, 0, 1);
        }
      }
    }
  }

  .child-menu {
    background-color : rgba(210, 210, 210, 0.95);
    display: none;
    text-align: center;
    text-transform: uppercase;
    width: 150px;

    li {
      display: block;

      a {
        color: rgba(0, 0, 0, 1);
        font-size: 10px;

        &:hover {
          color: rgba(150, 150, 150, 1);
          text-decoration: none;
        }
      }
    }
  }

  #hamburgerMenu {
    color: rgba(0, 0, 0, 1);
  }
}

#hamburgerMenu {
  background-color: transparent;
  border-width: 0;
  text-transform: uppercase;

  &:hover {
    background-color: transparent;
  }
}

.navbar-collapse {
  box-shadow: none;
}

/*------------------------------------
PORTLETS
------------------------------------*/

.whitespace {
  min-height: 120px;
}

.portlet {
  margin: 0;
}

.portlet-column {
  padding: 0;
}

/*------------------------------------
CAROUSEL BANNER
------------------------------------*/

.slide-one, .slide-two, .slide-three {
  margin-top: -145px
}

.slide-two, .slide-three {
  display: none;
}

.carousel-image-title {
  color: rgba(255, 255, 255, 1);
  font-weight: 800;
  padding-top: 180px;
  text-transform: uppercase;
}

.pager-container {
  padding-top: 60px;
}

.pager-one, .pager-two, .pager-three {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 200px;
  display: inline-block;
  height: 15px;
  margin: 5px;
  transition: 0.4s ease-out;
  width: 15px;
}

.pager-selected {
  background-color: rgba(255, 255, 255, 1);
  transition: 0.4s ease-in;
}

/*------------------------------------
BANNER WITH TITLE
------------------------------------*/

.banner {
  margin-top: -145px;
  background-color: rgba(56, 58, 59, 1);

  .banner-title {
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    padding-top: 180px;
    text-transform: uppercase;
  }
}

/*------------------------------------
BLOG POST PREVIEW
------------------------------------*/

.blog {
  padding: 40px;

  .blog-image {
    height: 400px;
  }

  .blog-title {
    margin-bottom: 8px;

    a {
      color: rgba(0, 0, 0, 1);
      font-weight: 800;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.2s ease-out;
    }

    a:hover {
      color: rgba(199, 168, 78, 1);
      transition: 0.2s ease-in;
    }
  }

  .blog-subtitle {
    color: rgba(150, 150, 150, 0.9);
    font-size: 16px;
    font-style: italic;
  }

  .blog-separator {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    height: 20px;
    margin-bottom: 20px;
    width: 115px;
  }

  .blog-entry {
    font-size: 16px;
  }

  .blog-author span {
    font-weight: 600;
  }
}

/*------------------------------------
MENU SECTION
------------------------------------*/

@media(max-width: 991px) {
  .menu-item-name {
    font-size: 15px;
    text-align: right;
  }

  .menu-item-price {
    font-size: 15px;
  }

  .menu-item-description {
    text-align: right;
  }
}

.menu-header {
  padding-bottom: 20px;
  padding-left: 15px;

  .menu-section-title {
    color: rgba(199, 168, 78, 1);
    font-weight: 800;
    text-transform: uppercase;
  }

  .menu-section-subtitle {
    color: rgba(150, 150, 150, 0.9);
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.menu-section {
  padding: 40px;
}

.menu-item {
  padding-bottom: 20px;
}

.menu-item-image {
  float: left;
  height: 70px;
  padding: 20px;
  width: 70px;
}

.menu-item-name {
  text-transform: uppercase;
}

.menu-item-price {
  font-weight: 600;
  text-align: right;
}

.menu-item-description {
  text-transform: lowercase;
  font-size: 12px;
}

/*-------------------------------------
CONTACT US
-------------------------------------*/

.contact-container {
  padding: 40px;
}

.contact-header {
  color: rgba(199, 168, 78, 1);
  font-weight: 800;
  text-transform: uppercase;
}

.contact-information {
  color: rgba(56, 58, 59, 1);
  font-weight: 600;
  padding: 10px;
}


/*-------------------------------------
FOOTER
-------------------------------------*/

.site-footer {
  background-color: rgba(56, 58, 59, 1);
  line-height: 26px;
  padding: 40px 0;
}

.footer-content {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer-section {
  color: rgba(150, 150, 150, 1);
  padding-bottom: 40px;
  padding-top: 20px;
}

.footer-section-title {
  font-weight: 800;
  text-transform: uppercase;
}

.footer-section-entry  {
  padding: 10px 0;
}

.social-media-list {
  margin: 20px auto;

  li {
    display: inline-block;
    font-size: 30px;
    padding: 10px;

    a:hover {
      text-decoration: none;
    }
  }
}

.social-media-icon {
  color: rgba(150, 150, 150, 1);

  &:hover {
    color: rgba(199, 168, 78, 1);
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

.contact-info {
  color: rgba(150, 150, 150, 1);
  margin-bottom: 20px;

  a, a:hover {
    color: rgba(199, 168, 78, 0.5);
    text-decoration: none;
  }
}
