/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

// @media (min-width: 768px) and (max-width: 991px) {
//     .navbar-collapse.collapse {
//         display: none !important;
//     }
//
//     .navbar-collapse.collapse.in {
//         display: block !important;
//     }
//
//     .navbar-header .collapse, .navbar-toggle {
//         display: block !important;
//     }
//
//     .navbar-header {
//         float: none;
//     }
// }

@media(min-width: 768px) {
  .navbar-custom {
    background-color: rgba(0, 0, 0, 0);
  }

  .news .content-container {
    margin-bottom: 40px;
  }

  .article-separator.centered {
    margin: 0 auto 20px auto;
  }

  .adjust-theme-for-control-menu {
    margin-top: 65px;
  }

  .adjust-navbar-for-control-menu {
    top: 65px;
  }
}

@media(max-width: 767px) {
  .profile, .news {
    text-align: left;
  }

  .adjust-navbar-for-control-menu {
    top: 49px;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

/*-------------------------------------
NAVBAR
-------------------------------------*/

.navbar-custom {
  border-width: 0;
  padding: 15px;
  transition : 0.2s ease-in;

  ul {
    margin-top: 10px;
  }

  .navbar-collapse {
    border: none;
  }

  .brand-name {
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    text-transform: uppercase;
  }

  .nav-links {
    float: right;

    li {
      display: inline-block;

      > a {
        border: 1px solid transparent;
        border-radius: 20px;
        color: rgba(255, 255, 255, 1);
        font-size: 12px;
        margin: 0 3px 0 3px;
        padding: 5px 14px 5px 14px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s ease-out;

        &:hover {
          border: 1px solid rgba(255, 255, 255, 1);
          border-radius: 20px;
          transition: 0.2s ease-in;
        }
      }
    }
  }

  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    text-transform: uppercase;

    li {
      display: block;

      a {
        color: rgba(255, 255, 255, 1);
        font-size: 10px;

        &:hover {
          text-decoration: none;
          color: rgba(150, 150, 150, 1);
        }
      }
    }
  }
}

.navbar-white {
  background-color : rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2);
  padding-bottom : 3px;
  padding-top : 3px;
  transition : 0.2s ease-in;

  .brand-name {
    color: rgba(0, 0, 0, 1);
    font-size: 25px;
    text-transform: uppercase;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }

  .nav-links {
    float: right;

    li {
      display: inline-block;

      > a {
        border: 1px solid transparent;
        border-radius: 20px;
        color: rgba(0, 0, 0, 1);
        font-size: 12px;
        margin: 0 3px 0 3px;
        padding: 5px 14px 5px 14px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s ease-out;

        &:hover {
          border: 1px solid rgba(0, 0, 0, 1);
          border-radius: 20px;
          color: rgba(0, 0, 0, 1);
          transition: 0.2s ease-in;
        }

        &:focus {
          color: rgba(0, 0, 0, 1);
        }
      }
    }
  }

  .dropdown-menu {
    background-color : rgba(255, 255, 255, 0.95);
    text-align: center;
    text-transform: uppercase;

    li {
      display: block;

      a {
        color: rgba(0, 0, 0, 1);
        font-size: 10px;

        &:hover {
          text-decoration: none;
          color: rgba(150, 150, 150, 1);
        }
      }
    }
  }

  #hamburgerMenu {
    color: rgba(0, 0, 0, 1);
  }
}

#searchIcon:hover {
  border: 1px solid transparent;
}

#hamburgerMenu {
  background-color: transparent;
  border-width: 0;
  text-transform: uppercase;

  &:hover {
    background-color: transparent;
  }
}

.navbar-collapse.in {
  overflow-y: visible;
}

/*--------------------------------
WELCOME WIDGET
----------------------------------*/

.welcome-background-one {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://appetitedemo.files.wordpress.com/2015/07/smachno_18.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 120px;
}

.welcome-background-two {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://appetitedemo.files.wordpress.com/2015/07/smachno_22.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 120px;
}

.welcome-background-three {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://appetitedemo.files.wordpress.com/2015/07/smachno_21.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 120px;
}

.welcome-header h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 45px;
  font-weight: 800;
  padding-bottom: 20px;
  padding-top: 60px;
  text-transform: uppercase;
}

#carouselSlideOne {
}

#carouselSlideTwo {
  display: none;
}

#carouselSlideThree {
  display: none;
}

.welcome-container {
  background-color: rgba(56, 58, 59, 1);
}

.welcome-content {
  color: rgba(255, 255, 255, 1);
  padding-bottom: 100px;
  text-align: center;
}

.welcome-more-info {
  padding-top: 20px;

  a {
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.pager-item-one, .pager-item-two, .pager-item-three {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 200px;
  display: inline-block;
  height: 15px;
  margin: 5px;
  transition: 0.4s ease-out;
  width: 15px;
}

.pager-item-selected {
  background-color: rgba(255, 255, 255, 1);
  transition: 0.4s ease-in;
}

/*------------------------------
SECTIONS
------------------------------*/

.portlets-section {
  margin: 40px 0 40px 0;
}

.section-white {
  background-color: rgba(255, 255, 255, 1);
  line-height: 26px;
  padding: 80px 0 80px 0;
}

.section-tan {
  background-color: rgba(244, 230, 220, 1);
  line-height: 26px;
  padding: 80px 0 80px 0;
}

/*------------------------------------
FOOTER
------------------------------------*/

.site-footer {
  background-color: rgba(56, 58, 59, 1);
  line-height: 26px;
  padding: 40px 0 40px 0;
}

.footer-content {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer-section {
  color: rgba(150, 150, 150, 1);
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-section-title h4 {
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}

.footer-section-entry  {
  font-size: 15px;
}

.social-media-list {
  margin: 20px auto;

  li {
    display: inline-block;
    font-size: 25px;
    padding: 10px;

    a:hover {
      text-decoration: none;
    }
  }
}

.social-media-icon {
  color: rgba(150, 150, 150, 1);

  &:hover {
    color: rgba(199, 168, 78, 1);
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

.contact-info {
  color: rgba(150, 150, 150, 1);
  margin-bottom: 20px;
}

.site-info a, .site-info a:hover {
  color: rgba(199, 168, 78, 0.5);
  text-decoration: none;
}
