.portlet-journal-content .portlet-body {
	.slider-container {
		background-color: $light-color;
		border-bottom: $border-color;
		height: 241px;
		margin: 0;
		padding: 15px;

		.slider-outer {
			display: block;
			float: none;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
			max-width: 1500px;
			position: relative;
			transition: all 1.5s;

			.slider-inner {
				height: 100%;
				overflow: hidden;

				.slider-wrapper {
					height: 100%;
					margin-left: 0;
					white-space: nowrap;
					width: max-content;
				}
			}

			.slider-item {
				box-sizing: border-box;
				display: inline-block;
				height: 100%;
				padding: 15px;
				position: relative;
				white-space: normal;

				.slider-image {
					height: 100%;
					position: relative;

					.thumbnail {
						height: 100%;
						max-width: 100%;
						transition: opacity 0.5s;

						&:hover {
							opacity: 0.7;
						}
					}
				}

				.slider-title {
					bottom: 0;
					font-family: $header-font;
					font-size: 14px;
					font-weight: normal;
					margin: 0 15px 15px 0;
					position: absolute;
					right: 0;
					text-align: center;
					z-index: 12;

					.slider-text {
						background-color: $bright-color;
						color: $light-color;
						display: table;
						padding: 10px;
						text-decoration: none;
						transition: background-color 0.4s;
					}
				}
			}

			.slider-controls {
				color: $bright-color;
				cursor: pointer;
				display: inline-block;
				font-family: FontAwesome;
				font-size: 25px;
				line-height: 1;
				position: absolute;
				right: 10px;
				text-align: center;
				top: -10px;
				z-index: 99;
				zoom: 1;

				.slider-buttons div {
					display: inline-block;
				}

				.slider-prev {
					margin-right: 10px;

					&:after {
						content: '\f177';
					}
				}

				.slider-next:after {
					content: '\f178';
				}
			}
		}
	}
}