a {
	color: $color-theme-main;
	transition: all 0.3s ease;
}

a:focus, a:hover {
	color: $color-theme-secondary;
	text-decoration: none;
}

.btn, input[type="submit"] {
	border-width: 0;
	border-radius: 3px;
	font-size: 12px;
	padding: 12px 30px;
	position: relative;
	text-transform: uppercase;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	will-change: box-shadow,transform;

	&.btn-round {
		border-radius: 30px;
	}

	&.btn-primary {
		background-color: $color-theme-main;
		box-shadow: 0 2px 2px 0 rgba(94, 143, 9, 0.14), 0 3px 1px -2px rgba(94, 143, 9, 0.2), 0 1px 5px 0 rgba(94, 143 , 9, 0.12);

		&:hover {
			box-shadow: 0 14px 26px -12px rgba(94, 143, 9,0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(94, 143, 9, 0.2);
		}
	}
}

.btn.btn-round.btn-theme {
	color: #FFF;
	background-color: $color-theme-main;
	box-shadow: 0 2px 2px 0 rgba(94, 143, 9, 0.14), 0 3px 1px -2px rgba(94, 143, 9, 0.2), 0 1px 5px 0 rgba(94, 143 , 9, 0.12);
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

	&.active, &:active, &:active:focus, &:active:hover, &.active:focus, &.active:hover, &:focus, &:hover {
		box-shadow: 0 14px 26px -12px rgba(94, 143, 9, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(94, 143, 9, 0.2);
	}
}

@include md {
	.btn, input[type="submit"] {
		margin: 10px 1px;
		padding: 12px 30px;
		font-size: 12px;

		&.btn-primary {
			background-color: $color-theme-main;
			box-shadow: 0 2px 2px 0 rgba(94, 143, 9, 0.14), 0 3px 1px -2px rgba(94, 143, 9, 0.2), 0 1px 5px 0 rgba(94, 143 , 9, 0.12);
			padding: 17px 35px;

			&:hover {
				box-shadow: 0 14px 26px -12px rgba(94, 143, 9,0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(94, 143, 9, 0.2);
			}
		}
	}
}