$color-bg: #E5E5E5;

$color-font-body: #555;
$color-font-header: #3C4858;

$color-theme-main: #7DBE0D;
$color-theme-secondary: #0AACCC;
$color-theme-tertiary: #E8990C;

$font-sans: roboto, Helvetica, Arial, sans-serif;
$font-serif: roboto_slab, "Palatino Linotype", Georgia, serif;