@import "bourbon";
@import "mixins";

.btn-theme-default {
	border-radius: 0;
	border-width: 0;
	color: $brand-purple;
	font-family: 'open_sanssemibold', sans-serif;
	font-size: 12px;
	min-width: 262px;
	outline-width: 0;
	padding: 13px 20px;

	&:focus, &:hover, &:active {
		background-color: rgba($brand-white, 0.2);
		border-width: 0;
		color: $brand-white;
		text-decoration: none;
	}
}