#footer {
	background-color: $main-black-color;
	color: $brand-color-3;
	min-height: 125px;
	padding-bottom: 0;
	width: 100%;
	bottom: -125px;
	position: relative;

	#social-networks {
		text-align: center;

		a {
			font-size: 25px;
		}
	}

	a {
		color: $brand-color-3;
		font-size: 15px;

		&:hover, &:focus, &.active, &.open {
			color: $secondary-header-color;
			text-decoration: none;
		}
	}

	.navbar-user {
 	 padding: 10px;
  }

 .outro {
	 text-align: center;

	 p {
		 margin-bottom: 0 !important;
		 padding-bottom: 1rem;
	 }

	 a {
		 font-size: 14px;
		 text-decoration-line: underline;
	 }

	 hr {
   	background: white;
   	width: 65%;
   	border-top: 1px solid;
   }
 }

 .user-icon {
	 display: inline-grid;
 }

}
