.navbar-inverse.navbar-alec {
	background: linear-gradient(to bottom right, #60a0ff, #1f7aff);
	border-width: 0;
	box-shadow: 0 5px 24px 2px rgba(0, 0, 0, 0.14);
	margin-bottom: 0;
	z-index: 900;

	.has-control-menu .fixed-top {
    margin-top: 105px;
	}

	.navbar-nav {
		li {
			& > a {
				font-size: 14px;
				text-transform: uppercase;

				&:hover, &:focus, &.active, &.open {
					color: #e5e5e5;
				}
			}
		}

		& > .open > a, & > .active > a {
			color: #e5e5e5;
		}

	}

	section, .navbar {
		@include sm {
			margin: 0;
		}
	}

	.logo {
		@include sm {
			margin: 4px 0;
		}
	}

	.icon-bar{
		background-color: #FFF;
	}
}
