#wrapper {
	padding: 0;
	margin: 0;
}

#sign-in {
	text-decoration: none;
	text-align: right;
}

#navigation {
	padding: 0;
}

#banner {
	background-color: grey;
	border-bottom: grey;
	padding: 10px;
}

.div.portlet-content {

}



.h1.site-title {
	opacity: 0;
}

#layout_1 {
	background-color: orange;
	margin-bottom: 0;
	min-height: 60px;
	padding: 8px;
	padding-top: 80px;
}

#column-1 {
	background-color: blue;
	padding: 5%;
}

#column-1 .portlet-content.portlet-content-editable {
	padding: 50px;
}

#column-2, #column-3, #column-4 {
	background-color: tomato;
	padding: 5%;
}

#column-2 .portlet-content.portlet-content-editable {
	border: 10px red solid;
}

#column-3 .portlet-content.portlet-content-editable {
	border: 10px green solid;
}

#column-5 {
	background-color: orange;
	padding: 20%;
}

#footer {
	background-color: grey;
		padding: 10px;
}