header#banner {
	align-items: center;
	background: white;
	border-bottom: 1px solid black;
	display: flex;
	margin-top: -32px;
	position: fixed;
	width: 100%;
	z-index: 2;
}

h1.site-title {
    display: flex;
}

img {
    height: 40px;
    width: 40px;
}

a {
    color: #000;
    text-decoration: none;

	:hover {
		color: black;
		text-decoration: none;
		opacity: 0.8;
	}
}

a#sign-in {
    position: fixed;
    right: 0;
    margin-right: 30px;
    padding: 10px;
}

ul {
    list-style-type: none;

    li {
    float:left;
    }

    a {
    display: block;
    padding: 10px;
    margin-right: 10px;
    }
}

.portlet-layout.row {
    width: 85%;
    margin: 50px auto;
}

.portlet-content.portlet-content-editable {
    padding: 20px;
}

 /* -----------column-1-------------*/

div#column-1 {
	margin: 80px auto;
}

 /* -----------column-2-------------*/

 div#column-2 {
 .portlet-content.portlet-content-editable {
    border: 1px solid black;
    }
}

 /* -----------column-3-------------*/

 div#column-3 {
 .portlet-content.portlet-content-editable {
    border: 1px solid black;
    }
}

 /* -----------column-4-------------*/

 div#column-4 {
 .portlet-content.portlet-content-editable {
    border: 1px solid black;
    }
}



 /* -----------footer-------------*/


#footer {
