.large-img-text {
    position: relative;
    
    &--img {
        background: url('../images/message_cat.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height:100vh;
        width: 100%;

        @include respond(tablet-landscape){
            background-position-x: 30%;
        }
    }

    &--text {
        background-color: rgba(0, 0, 0, 0.42);
        color: $color-text-light;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        max-width: 50rem;
        padding: 8rem;
        position: absolute;
        right: 8rem;

        @include respond(tablet-landscape) {
            left:50%;
            right: 0;
        }

        @include respond(tablet-portrait) {
            align-items: center;
            background-color: #0d0d0d;
            bottom: 6rem;
            display: flex;
            left: 0;
            margin: 0 2rem -6rem 2rem;
            max-width: 100%;
            padding: 5rem;
            position: relative;
            right: 0;
            text-align: center;
            top: auto;
            width: auto;
        }

        h3 {
            font-size: 3.5rem;
        }

        p {
            margin-bottom: 3rem;
            margin-left: 7rem;

            @include respond(tablet-portrait) {
                margin-left: 0;
            }
        }

    }
}