
#content {
    // background: blue;

    &--main {
        // background:purple;
        height:100vh;
        padding:0;

        .main {
            padding:0;
            height:100%;
            width: 100%;
            
            overflow:hidden;
            position: relative;

            &__article {

                &__img {
                    height:100%;
                    width:100%;
                    background-image: url('../images/main_cat.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    opacity: 0.8;
    
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
    
                    &:hover {
                        -ms-transform: scale(1.05);
                        -moz-transform: scale(1.05);
                        -webkit-transform: scale(1.05);
                        -o-transform: scale(1.05);
                        transform: scale(1.05);
                        
                    }
    
                    a {
                        height:100%;
                        width:100%;
                        display: block;
                        cursor: pointer;
                    }
                }

                &__overlay {
                    padding: 0;
                    height:40%;
                    position: absolute;
                    bottom:0;
                }

                &__header{
                    @include font--main;
                    // background: red;
                    height:100%;

                    &__date {
                        color: $color-primary-header;
                        font-size: 1.2rem;
                    }

                    &__title {
                        color: $color-primary-header;
                        margin-top: 1rem;
                    }

                    &__desc {
                        @include font--desc;
                        font-size: 1.5rem;
                        color: $color-primary-header;

                    }
                }
            }
        }
    }

    &--other {
        background:teal;
        height:100vh;
    }
}