.small-cards {
    .container {
        @include respond(tablet-portrait) {
            max-width: 100%;
        }
    }

    &--wrapper {
        margin-bottom: 7rem;

        @include respond(tablet-landscape) {
            margin-bottom: 3.5rem;
        }

        @include respond(tablet-portrait) {
            margin-bottom: 0;
        }
    }

    &--subject {
        &--container {
            padding: 5rem 4.5rem;
            text-align: center;

            @include respond(tablet-portrait) {
                padding: 3rem 2rem;
            }

            @include respond(phone) {
                box-shadow: 1.5rem 1.5rem 3rem rgba(225, 225, 225, 0.46);
                margin: 0 1.5rem 2.5rem;
            }
        }

        &--icon {
            font-size: 7.5rem;
            line-height: 1;
            margin-bottom: 2rem;
            position: relative;

            img {
                border-style: none;
                height: 7.5rem;
                max-width: 100%;
                vertical-align: middle;

                @include respond(tablet-portrait) {
                    height: 5rem;
                }
            }
        }

        &:nth-child(odd) &--container{
            background-color: $color-background-grey;
        }
    }
}