.text_small_img {
    position: relative;

    .container {
        @include respond(tablet-portrait) {
            max-width: 100%;
        }
    }

    &__header {
        color: $color-general-text;
        font-weight: 800;
        line-height: 1.2;

        &__title {
            color: $color-black-text;
            text-align: right;

            @include respond(tablet-portrait) {
                text-align: left;
            }
        }

        &__desc {
            margin-bottom: 4rem;
            max-width: 37rem;

            @include respond(tablet-portrait) {
                max-width: 100%;
            }
        }

        &__signature {
            font-size: 1.4rem;
            opacity: 0.7;
        }

        &__exp {
            @include flex($justify-content: flex-start);

            &__number {
                color: $color-black-text;
                font-size: 12rem;
                margin-right: 2rem;
            }

            &__text {
                font-size: 1.8rem;
                font-weight: 400;
            }
        }

    }

    &__img {
        @include flex;
        background: $color-grey-background;
        bottom: 0;
        left: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: calc(50% + 5rem);
        z-index: -1;

        @include respond(tablet-portrait) {
            height: 100vh;
            position: relative;
            width: 100%;
        }

        &__container {
            background: url('../images/cat_img.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 70%;
            width: 80%;

            @include respond(tablet-landscape) {
                background-position-x: 50%;

            }

            @include respond(phone) {
                height: 100%;
                width: 100%;
            }

        }
    }
}