@import "partials/fonts";
@import "partials/footer";
@import "partials/header";
@import "partials/layout";
@import "partials/modules";
@import "partials/user_icon";

@import "partials/aspect_ratio";
@import "partials/navbar_alec";

@import "partials/portlet_asset_publisher";
@import "partials/portlet_blogs";
@import "partials/portlet_search";
@import "portlet_decorator";

body {
	background-color: $main-bg-color;
	position: relative;
}

textarea {
	min-height: 50px;
}

#content {
	background-color: #FCFCFC;
	border-radius: 15px;
	-webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	display: block;
	margin: auto;
	margin-top: 15px;
	max-width: 90%;
	position: relative;
}

#wrapper {
	padding: 0;
}

.alecs-jumbotron {
	background: $main-black-color;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: -100px;

	h1 {
		color: #FFF;
		font-size: 50px;
		text-align: center;
	}

	@media (min-width: 576px) {
		padding: 32px 32px 96px;
	}
}

.card-type-asset .card-type-asset-icon {
	width: 50%;
}

.navbar .container-fluid {
	display: inline-block;
}

.portlet-body a {
	color: $main-black-color;
}

.portlet-layout {
	&.row {
		margin: 0;

		.col-md-12 {
			padding: 0;
		}
	}
}

.service-row {
	border-radius: 15px;
	color: #FFF;
	margin: 0 15px;
	padding: 20px;
	text-align: center;
}

.spacing-bottom {
	margin-bottom: 400px;
}