/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
/*.site-name{*/

/* General stuff */
body {
	color: #737373;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #737373;
}

a:hover {
	color: #737373;
}

a:visited {
	color: #737373;
}

a:active {
	color: #737373;
}

/* All headers will be caps lock'd and black */
h1, h2, h3, h4, h5, h6 {
	color: black;
	text-transform: uppercase;
}

/* Hardcoded heading background image.  Deprecated. */
#heading {
	/*background-image: url("http://localhost/images/parallax.png");*/
}

/* For the hardcoded navbar on the main page */
#navigation ul {
	list-style-type: none !important;
}

#navigation ul li{
	float: center;
	text-transform: uppercase; 
	display: inline;
}

#navigation ul li a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	padding-left: 0; 
	padding-right: 0; 
	border-style: solid solid solid solid;
	border-width: 15px;
	border-color: transparent;
}

/*These handle the underline animation */
#navigation ul li a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	width: 0;
	transition: width 0s ease, background .3s ease;
}

#navigation ul li a:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 4px;
	width: 0;
	background: blue;
	transition: width .5s ease;
}

#navigation ul li a:hover:before {
	width: 100%;
	background: blue;
	transition: width .3s ease;
}

#navigation ul li a:hover:after {
	width: 100%;
	background: transparent;
	transition: all 0s ease;
}

/* So that the current page doens't have the underline animation */
#navigation ul li[aria-selected="true"] a:before { 
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	width: 100%;
}

#navigation ul li[aria-selected="true"] a:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 4px;
	width: 100%;
	background: blue;
}

#navigation ul li[aria-selected="true"] a:hover:before {
	width: 100%;
	background: blue;
}

#navigation ul li[aria-selected="true"] a:hover:after {
	width: 100%;
	background: transparent;
}

/* Gotta repeat these for the child-menu's, for consistent behavior */
/* The underlining code for non-selected
   There's no distinguishing which child page is selected, though, as that doesn't seem to be tracked with aria-selected
   Instead, all of the children are listed as aria-selected
*/ 
#navigation ul li[aria-selected="true"] .child-menu a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	width: 0;
	transition: width 0s ease, background .3s ease;
}

#navigation ul li[aria-selected="true"] .child-menu a:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 4px;
	width: 0;
	background: blue;
	transition: width .5s ease;
}

#navigation ul li[aria-selected="true"] .child-menu a:hover:before {
	width: 100%;
	background: blue;
	transition: width .3s ease;
}

#navigation ul li[aria-selected="true"] .child-menu a:hover:after {
	width: 100%;
	background: transparent;
	transition: all 0s ease;
}

ul[aria-label="Site Pages"] li {
	/* text-align: center;*/
	/* border: 1px green solid;*/
}

/* These are for child menus within the hardcoded navbar, but they also apply to the navbar portlet */
.child-menu {
	display: none;
	position: absolute;
	background-color: #F9F9F9;
	z-index: 1;
	border: 1px black solid;
	left: 0;
	width: 100%;
}

.child-menu li {
	width: 100%;
	left: 0;
	text-align: center;	
}

/* Need to have the hover over the li, and not the a, so that the dropdown doesn't disappear immediately */
#navigation ul[aria-label="Site Pages"] li:hover /*a:hover ul li a:hover +*/ .child-menu{
	display: block;
}

#navigation {
	position: relative;
	display: inline-block;
}

/* Parent div element for the top-of page giant banner 
   TODO: add parallax scrolling
*/
.parallaximagespacer {
	float: left;
	display: inline-block;
	opacity: 1;
	position: relative;
	z-index: 20;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	/* border: 4px solid cyan;*/
	padding: 20%;
}

/* Causes mouse overed pics to have a growing square */
.mouseOverSquarePic {
	position: relative;
}

.mouseOverSquarePic ::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	/*border-radius: 100%;*/
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}

.mouseOverSquarePic :hover::before {
	-webkit-animation: rect .75s forwards;
	animation: rect .75s forwards;
}

@-webkit-keyframes rect {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 100%;
		height: 100%;
		opacity: 1;
	}
}

@keyframes rect {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 100%;
		height: 100%;
		opacity: 1;
	}
}

/* Causes mouse over'd pics to have drop shadow appear */
.mouseoverShadowPic {
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0 0 1px transparent;
}

.mouseoverShadowPic:hover, mouseoverShadowPic:focus, mouseoverShadowPic:active {
	box-shadow: 0 15px 30px #d9d9d9;
}

/* No borders around portlets */
.portlet-decorate .portlet-content {
	border-style: none !important;
}
