.footer {
  background-color: #000;
  color: #fff;
  display:flex;
  justify-content: space-around;
}

.section-container {
  padding: 50px;
  width: 33vw;
}
a {
  color:#fff;

  &:hover {
    color: $theme-main-color;
  }
}

@media screen and (max-width:1024px){
  .footer {
    flex-direction: column;
  }

  .section-container {
    width: 100vw;
  }
}

@media screen and (max-width:768px){
  .footer {
    flex-direction: column;
  }

  .section-container {
    width: 100vw;
  }
}