header {
  background-color: #000000;
  max-width: 100%;
  position: fixed;
  width: 100vw;
  z-index: 1;

  .theme-user a {
    color: #D6A261;
  }

  .user-avatar-link .lexicon-icon {
    color: #D6A261;
  }

  li.nav-item {

    & a.nav-link {
      color: #ffffff;

      span {
        font-family: Lato, sans-serif;
      }
    }

    &:hover {
      
      a {
        color: $theme-main-emphasize-text;
      }

      ul.child-menu {
        background-color: #00000000;
        display: block;
        margin-top: -10px;
      }
    }

    &.selected {
      background-color: #00000000;
      height: 73px;

      & a.nav-link {
        color: #D6A261;
        font-weight: normal;

        &:hover {
          color: $theme-main-emphasize-text;
          font-weight: normal;
          padding-left: 9.619px;
          padding-right: 9.619px;
        }
      }
    }

    @include media-breakpoint-down(sm) {

      ul.child-menu {
        display: block;
      }
    }    
  }

  li.selected {
    & a.nav-link{
      color: $theme-main-emphasize-text;
    }
  }
}

.navbar-nav {
  justify-content: center;

  &.scroll {
    background-color: #A1572F;
    color: #eef;
  }
}
