.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    img {
        height: 30vh;
        width: 100vw;

        @include media-query (null, $screen-xs) {
            height: 100vh;
        }
    }
}

.hero-image-content {
    left: 50%;
    overflow-x: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    p {
        color: $body-text-color;

        @include media-query (null, $screen-sm) {
            font-size: small;
        }
    }
}

#p_p_id_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_HcUvPg6i4Toj_ .portlet-content {
    border-width: 0;
    border-style: none;
}

#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_zJZ5qzmxJ6uz{
    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
        padding: 5% 10%;
    
        @include media-query(null, $screen-xs) {
            height: 100vh;
            object-fit: cover;
            object-position: 88% -100px;
            padding: 0;
        }
    }
} 