.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // height: 50vh;
    // width: 100vw;
    position: relative;

    @include media-query (null, $screen-xs) {
        height: 100vh;
    }
}

.hero-image-content {
    left: 50%;
    overflow-x: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    p {
        color: $body-text-color;
    }
}