@font-face {
	font-family: "Circular";
	src: url("../fonts/Circular/Circular-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Helvetica Bold";
	src: url("../fonts/Helvetica/HelveticaLTStd-Comp.otf") format("opentype");
}

@font-face {
	font-family: "Helvetica Lt";
	src: url("../fonts/Helvetica/HelveticaLTStd-Light.otf") format("opentype");
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Titillium Web";
	src: url("../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype");
}

/* ---------- Colors Used For Text And Backgrounds ---------- */
$brightblue-color: #0F57EA;
$lightblue-color: #65B6F0;
$lightgray-border: 2px solid #E3E6E8;
$lightgray-color: #E3E6E8;
$lightred-color: #ED5E68;
$lightmidnight-color: #363B59;
$midnightblue-color: #171C38;
$owgray-color: #484848;
$nyred-color: #FC1C26;

/* ---------- Colors That Get Pulled Throughout The Theme ---------- */
$bg-color: #FFF;
$bright-color: $nyred-color;
$complementary-color: $brightblue-color;
$solid-color: $midnightblue-color;

/* ---------- Styles For Different Shadows ---------- */
$box-shadow: 0 10px 6px -6px #777;
$hard-shadow: 1px 2px 0 rgba(0, 0, 0, 1);
$text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
$transition: 0.2s ease-in-out;
$soft-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0;

/* ---------- Font Variables ---------- */
$body-font: "Titillium Web";
$form-font: "Open Sans";
$link-text: sans-serif;
$nav-font: sans-serif;
$title-font: "Circular";

@mixin fullwidth() {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: none;
	position: relative;
	right: 50%;
	width: 100vw;
}

@mixin btnBackground($color) {
	background: $color;
	border: 2px solid $color;
	color: #FFF;
}

@mixin textStyle($letter-spacing, $text-transform) {
	letter-spacing: $letter-spacing;
	text-transform: $text-transform;
}

@mixin redBackground() {
	background: $nyred-color;
	color: #FFF !important;
	font-family: $link-text;
	letter-spacing: 2px;
	text-transform: uppercase;
}