#banner {
	background: $midnight-blue-color;
	border-bottom: 5px solid $ny-red-color;
	max-width: none;
	width: 100%;

	@include media-query(null, $screen-xs) {
		padding-top: 5%;
	}

	#heading {
		margin-top: 15px;
	}

	a {
		font-weight: normal;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active,
	.form-control:focus {
		box-shadow: 0 0 0 100px $midnight-blue-color inset;
		-webkit-text-fill-color: $body-text-color;
	}

	li:focus,
	li > a:focus,
	li > a span:focus,
	ul:focus {
		outline-color: $ny-red-color;
	}

	input {
		font-family: $nav-font;
	}

	.portlet-topper {
		z-index: 1600;
	}

	#heading > a.custom-logo > img {
		height: auto;
		width: 85px;
	}

	.sign-in {
		a {
			color: $body-text-color;
			font-family: $link-text;

			@include textStyle(2px, uppercase);
		}
	}

	.row {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		nav {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	ul.nav.nav-tabs.navbar-site {
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		@include media-query(null, $screen-xs) {
			align-items: flex-start;
			flex-direction: column;
		}
	}

	/* ---------- Navbar List Item Styles ---------- */

	#navigationCollapse .navbar-blank > li.hover > a,
	#navigationCollapse .navbar-blank > li.active > a,
	#navigationCollapse .navbar-blank > li .dropdown-menu .active > a,
	.grandchild-menu > li:hover,
	.grandchild-menu > li.active > a,
	.child-menu > li.active > a,
	ul.child-menu > li:hover > a,
	ul.child-menu > li:active,
	ul.child-menu > li:active > a,
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
		color: $body-text-color;
		font-weight: normal;
		text-decoration: none;
		text-shadow: $hard-shadow;
	}

	/* ---------- Animated Border-bottom On Hover ---------- */

	.child-menu {
		transition: $transition;
	}

	.nav-tabs,
	.nav-tabs .open > a,
	.nav-tabs .open > a:focus,
	.nav-tabs .open > a:hover,
	.nav-tabs > li > a {
		border-width: 0;
	}

	li {
		border-width: 0;
		text-decoration: none;
	}

	li::after {
		background: $body-text-color;
		content: '';
		display: block;
		height: 2px;
		transition: width 0.3s;
		width: 0;
	}

	li:hover::after {
		width: 100%;
	}

	.child-menu.selected,
	.grandchild-menu.selected {
		border-bottom: 2px solid $body-text-color;
	}

	#navigationCollapse .navbar-blank > li.active > a:hover,
	#navigationCollapse .navbar-blank > li .dropdown-menu .active > a:hover,
	ul.child-menu > li:active:hover,
	ul.child-menu > li:active > a:hover {
		border-bottom-width: 0;
	}

	.lfr-nav-item {

		> a {
			transition-delay: 10s;
		}

		&.selected {
			border-radius: 4px 4px 0 0;

			margin-bottom: -5px;
			padding: 10px 0;

			@include panelBackground($ny-red-color);
		}
	}

	.navbar,
	.nav-tabs {
		li {
			padding: 9px 16px;
		}

		> li.active {
			> a, a:focus, a:hover {
				@include panelBackground($ny-red-color);
			}
		}
	}

	.nav li > a {
		font-family: $link-text;

		@include textStyle(2px, uppercase);
	}

	.navbar-collapse {
		@include sm {
			padding-right: 4px;
		}

		@include media-query(null, $screen-xs) {
			box-shadow: none;
		}
	}

	.pull-right {
		@include media-query (null, $screen-xs) {
			float: none !important;
			text-align: center;
		}
	}

	.navbar-right {
		li {
			margin: 0 5px;
			max-width: 250px;
			white-space: nowrap;
		}

		li a {
			color: $body-text-color;
			overflow: hidden;
			text-overflow: ellipsis;
		}

/* ---------- Child-menu Nav Styles ---------- */

		.dropdown-menu > li > a:focus,
		.dropdown-menu > li > a:hover,
		ul.child-menu,
		ul.child-menu > li,
		ul.child-menu > li a,
		ul.child-menu > li a.active,
		ul.child-menu li a:hover {
			background: $bright-blue-color;
		}

		ul.grandchild-menu,
		ul.grandchild-menu > li,
		ul.grandchild-menu > li a,
		ul.grandchild-menu > li a.active,
		ul.grandchild-menu > li a:hover {
			background: $light-blue-color;
		}
	}

	.dropdown-menu {
		border: 1px solid transparent;
	}

	.navbar-toggle {
		margin: 12px 0 12px 6px;
	}

/* ---------- NYXL Logo ---------- */

	#heading .site-name {
		font-size: 150%;

		margin-left: 8px;
		padding: 10px 50px;
		vertical-align: middle;

		@include panelBackground($ny-red-color);

		@include sm {
			letter-spacing: 2px;
			margin-left: 20px;
		}
	}

	#navigationCollapse {
		@include media-query(null, $screen-xs-max) {
			font-size: 125%;
			margin-left: -15px;
			margin-right: -15px;	
		}

		#navigation {
			.input-container {
				position: relative;
			}

			.portlet {
				&, .portlet-body > .navbar {
					margin-bottom: 0;
				}
			}

			li.open > a:focus {
				@include tab-focus;
			}
		}

		/* ---------- Navbar List Items ---------- */

		.navbar-blank > li {
			& > a {
				color: $body-text-color;
				transition: $transition;
				white-space: nowrap;
			}
		}

		.portlet-content {
			border-width: 0;
			box-shadow: none;
		}

		@include media-query(null, $screen-xs-max) {
			.nav > li {
				> a {
					border-bottom-width:0;				}

				&:last-child > a {
					border-bottom-width: 0;
				}
			}
		}
	}

	.navbar-form {
		@include sm {
			margin-left: 30px;
		}

		.input-text-wrapper {
			@include media-query(null, $screen-xs-max) {
				display: block;
			}
		}

		/* ---------- Form/Search Styles ---------- */

		.form-control {
			background-color: transparent;
			border-bottom-width: 1px;
			border-color: #FFF;
			color: $body-text-color;
			margin-top: 2px;

			@include media-query(null, $screen-xs-max) {
				border-width: 0;
			}
		}

		.form-control::placeholder {
			color: $body-text-color;

			@include textStyle(2px, uppercase);
		}

		.search-select {
			margin-right: 40px;
			padding-right: 20px;
		}

		.search-input {
			font-size: 16px;
			padding-right: 32px;

			@include sm {
				height: auto;
				max-width: 200px;
			}
		}

		.field-wrapper {
			position: absolute;
			right: 0;
			top: 0;

			a {
				color: $secondary-color;
			}
		}
	}

	.user-personal-bar {
		@include sm {
			position: absolute;
			right: 20px;
			top: 0;
		}

		.panel-notifications-count {
			top: 50%;

			@include transform(translateY(-50%));

			@include sm {
				right: -15px;
			}
		}

		.sign-in > a, .user-avatar-link {
			display: block;
		}

		.sign-in > a {
			line-height: 28px;
			padding: 15px 4px;
		}

		.user-avatar-image {
			display: inline-block;
			vertical-align: text-bottom;
			width: 32px;
		}

		.user-avatar-link {
			line-height: 0;
			padding: 18px 4px;

			@include sm {
				padding: 8px 0 8px 14px;
			}
		}

		.panel-notifications-count {
			@include media-query(null, $breakpoint_tablet - 1) {
				left: 2px;
				position: relative;
				top: 6px;
			}
		}

		.icon-user, .user-full-name {
			display: none;
		}
	}

	.navbar-nav {
		@include media-query(null, $screen-xs-max) {
			margin: 0;
		}
	}

	.lfr-nav-item .lfr-nav-child-toggle {
		line-height: 28px;
		margin-top: -14px;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		right: -15px;
		top: 50%;
		transition: $transition;

		&:hover {
			color: $ny-red-color;
		}
	}
}

.touch .modify-pages .lfr-nav-sortable > a > span {
	@include media-query(100px, 320px) {
		padding-left: 0;
	}
}

#banner #navigationCollapse #navigation .portlet .portlet-body > .navbar {
	@include media-query(null, $screen-xs) {
		margin-bottom: 5%;
	}
}