.portlet-hello-world {
	height: 50vh;
	margin: 5% 0;
}

.welcome-container {
	align-content: center;
	height: inherit;
	background: url(../images/nyxl-facebook-banner.jpg) top;
	background-position: center;
	background-size: cover;
}

.welcome-content {
	display: flex;
	flex-direction: column;
	height: inherit;

	@include textStyle(6px, uppercase);

	justify-content: space-evenly;
	text-align: center;

	h1 {
		font-family: "Helvetica Bold";
		font-size: 6rem;
		margin: 0;
	}

	h4 {
		color: white;
		font-size: 3rem;
		margin: 0;
	}
}

.portlet-hello-world .portlet-content {
	align-items: center;
	background: url(../images/nyxl-facebook-banner.jpg) top;
	background-position: center;
	background-repeat: repeat-x;
	background-size: inherit;
	box-shadow: $soft-shadow;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 390px;
	text-align: center;

	.portlet-title-text {
		background: none;
		color: $ny-red-color;
		font-family: "Helvetica Bold";
		font-size: 48px;

		@include textStyle(8px, uppercase);

		word-spacing: 10px;
	}

	.portlet-body {
		color: #EEE;
		font-family: $form-font;
		letter-spacing: 3px;
	}
}

.barber-animation::before {
    content: '';
    background-image: linear-gradient(45deg, $midnight-blue-color 25%, $bright-blue-color 25%, $bright-blue-color 50%, $midnight-blue-color 50%, $midnight-blue-color 75%, $bright-blue-color 75%, $bright-blue-color);
    background-size: 150px 150px;
    animation: barberpole-body-case 2.5s linear infinite;
    width: 100%;
    height: 50vh;
    top: 51%;
    position: absolute;
    transform: translateY(-100%);
  }

  .barber-animation::after {
    content: '';
    background-image: linear-gradient(45deg, $midnight-blue-color 25%, $bright-blue-color 25%, $bright-blue-color 50%, $midnight-blue-color 50%, $midnight-blue-color 75%, $bright-blue-color 75%, $bright-blue-color);
    background-size: 150px 150px;
    animation: barberpole-body-case 2.5s linear infinite;
    width: 100%;
    height: 50vh;
    top: 50%;
    z-index: -1;
    position: absolute;
    transform: rotateX(180deg);
  }

  @keyframes barberpole-body-case {
    from {
        background-position: 0 0
    }

    to {
        background-position: 300px 150px
    }
}

@media only screen and (max-width: 480px) {
	.welcome-container {
		h1 {
			font-size: 4rem;
		}
		h4 {
			font-size: 2rem;
		}
	}
}