.portlet-hello-world {
	height: 50vh;
	margin: 5% 0;
}

.welcome-container {
	align-content: center;
	background: url(../images/nyxl-facebook-banner.jpg) top;
	background-position: center;
	background-size: cover;
	height: inherit;
}

.welcome-content {
	display: flex;
	flex-direction: column;
	height: inherit;

	justify-content: space-evenly;
	text-align: center;

	@include textStyle(6px, uppercase);

	h1 {
		font-family: "Helvetica Bold";
		font-size: 6rem;
		margin: 0;
	}

	h4 {
		color: $body-text-color;
		font-size: 3rem;
		margin: 0;
	}
}

.portlet-hello-world .portlet-content {
	align-items: center;
	background: url(../images/nyxl-facebook-banner.jpg) top;
	background-position: center;
	background-repeat: repeat-x;
	background-size: inherit;
	box-shadow: $soft-shadow;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 390px;
	text-align: center;

	.portlet-title-text {
		background: none;
		color: $ny-red-color;
		font-family: "Helvetica Bold";
		font-size: 48px;

		word-spacing: 10px;

		@include textStyle(8px, uppercase);
	}

	.portlet-body {
		color: #EEE;
		font-family: $form-font;
		letter-spacing: 3px;
	}
}

/* ---------- Barber Moving Animation ---------- */

.barber-animation::before {
	animation: barberpole-body-case 2.5s linear infinite;
	background-image: linear-gradient(45deg, $midnight-blue-color 25%, $bright-blue-color 25%, $bright-blue-color 50%, $midnight-blue-color 50%, $midnight-blue-color 75%, $bright-blue-color 75%, $bright-blue-color);
	background-size: 150px 150px;
	content: '';
	height: 50vh;
	position: absolute;
	top: 51%;
	transform: translateY(-100%);
	width: 100%;
}

.barber-animation::after {
	animation: barberpole-body-case 2.5s linear infinite;
	background-image: linear-gradient(45deg, $midnight-blue-color 25%, $bright-blue-color 25%, $bright-blue-color 50%, $midnight-blue-color 50%, $midnight-blue-color 75%, $bright-blue-color 75%, $bright-blue-color);
	background-size: 150px 150px;
	content: '';
	height: 50vh;
	position: absolute;
	top: 50%;
	transform: rotateX(180deg);
	width: 100%;
	z-index: -1;
}

@keyframes barberpole-body-case {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 300px 150px;
	}
}

/* ---------- Mobile Styles ---------- */

@media only screen and (max-width: 480px) {
	.welcome-container {
		h1 {
			font-size: 4rem;
		}

		h4 {
			font-size: 2rem;
		}
	}
}