#portlet_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_HcUvPg6i4Toj > .portlet-content {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    flex-wrap: column;

    @include media-query(null, $screen-xs) {
        align-items: center;
    }

    > .portlet-content-container > .portlet-body {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;

        @include media-query(null, $screen-xs) {
            flex-direction: column;
        }

        > div.h2 {
            display: none;
        }

        .asset-content {
            margin-right: 5px;
        }
    }

    .team-container {
        border: 8px double #000;
        border-radius: 8px;
        padding: 1% 1% 4% 1%;
        transition: $transition;

        &.DPS {
            background: linear-gradient(135deg, $ny-red-color, #ebf8e1, $ny-red-color);
        }
        &.Support {
            background: linear-gradient(135deg, #1ee062, #ebf8e1, #1ee062);
        }
        &.Tank {
            background: linear-gradient(135deg, $bright-blue-color, #ebf8e1, $bright-blue-color);
        }

        img:hover {
            cursor: pointer;
        }

        &:hover {
            animation: aura 1s ease-in-out infinite alternate;
         }

    }

    .team-content {

        #Anamo {
            background-image: url(http://localhost:8080/documents/20142/49774/illios_1.png);
        }

        #Ark {
            background-image: url(http://localhost:8080/documents/20142/49774/illios_2.png);
        }

        #Jjonak {
            background-image: url(http://localhost:8080/documents/20142/49774/illios_3.png);
        }
        #Janus {
            background-image: url(http://localhost:8080/documents/20142/49774/nepal_1.png);
        }
        #Mano {
            background-image: url(http://localhost:8080/documents/20142/49774/nepal_2.png);
        }
        #MekO {
            background-image: url(http://localhost:8080/documents/20142/49774/nepal_3.png);
        }
        #Libero {
            background-image: url(http://localhost:8080/documents/20142/49774/lijiang_1.jpg);
        }
        #Pine {
            background-image: url(http://localhost:8080/documents/20142/49774/lijiang_2.jpg);
        }
        #Saebyeolbe {
            background-image: url(http://localhost:8080/documents/20142/49774/lijiang_3.jpg);
        }

        .player-card {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            border: 2px solid #000;
            border-radius: 3px;
            box-shadow: $box-shadow;
            max-height: 240px;
            max-width: 240px;
            outline: 2px solid #FFF;
        }

        .player-content-top {
            display: flex;
            justify-content: flex-start;
            margin-top: -50px;
            padding-left: 20px;

            h1, p {
                margin: 0;
            }

            .player-handle {
                font-family: "Helvetica Bold";
                font-size: 3rem;
                font-weight: bold;
                text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
            }
            
            .player-number {
                font-family: "Titillium Web";
                margin-left: 20px;
                text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
            }
        }
        
        .player-content-bottom {
            margin: 10% -1% -1% 0;
            padding: 5% 0;
            text-align: center;
            
            .player-name {
                margin-bottom: 0;
            }

            .player-position {
                color: $body-text-color;
                font-family: $title-font;

                @include textStyle(2px, uppercase);

                text-shadow: $text-shadow;
            }
        }
    }
}