.btn {
    &__main {
        @include flex ($justify-content : flex-start);
        border: .5px solid $color-header-text;
        border-radius: 4rem;
        height: 5rem;
        font-size: 1.5rem;
        transition: all .5s ease-in-out;
        width: 17rem;

        &:hover {
            transform: scale(1.1) perspective(1px);
        }

        a {
            @include flex ($justify-content : flex-start);
            cursor: pointer;
        }
        
        &__arrow {
            @include flex;
            background-color: $color-button-circle;
            border-radius: 50%;
            color:$color-button-circle-text;
            height: 3rem;
            margin-left: 2rem;
            width: 3rem;
        }

        &__text {
            margin-left: 2rem;

            p {
                font-size: 1.8rem;
                font-style: italic;
                letter-spacing: .15rem;
                margin-bottom: 3rem;
            }
        }
    }
}