@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@mixin font--main {
    font-family: 'Poppins', sans-serif;
}

@mixin font--desc {
    font-family: 'Roboto,Sans-Serif;', sans-serif;
}

