.portlet-decorate {
	background: #FFF;
	border: 1px solid #DEEEEE;

	.portlet {

	}

	.portlet-content {
		padding-left: 14px;
		padding-right: 14px;
	}
}

.portlet-borderless {
	.portlet-content {
		border-style: none;
		padding-left: 15px;
		padding-right: 15px;
	}

	.portlet-content-editable {
		border-radius: 0;
	}
}
