@import "compass";

.input-localized {
	.palette-item-inner img {
		@include opacity(0.5);
	}

	&.input-localized-focused .palette-item-inner img {
		@include opacity(1);
	}

	.input-localized-content {
		margin-left: 6px;
	}

	&.input-localized-editor {
		.input-localized-content {
			margin-top: 0;
		}

		.language-value {
			margin-bottom: 7px;
		}
	}

	.palette-item {
		border-width: 0;
		line-height: 1.5em;
		padding: 0;
	}

	.palette-item-inner {
		border: 1px solid #666;
		width: 16px;
	}

	.palette-items-container {
		font-size: 14px;
		margin: 0;
		white-space: normal;
	}

	.palette-item, .palette-item-inner, .palette-item-hover, .palette-item-hover .palette-item-inner {
		border-color: transparent;
	}

	.lfr-input-localized-state {
		bottom: -10px;
		display: inline-block;
		left: -15px;
		position: relative;
	}

	.lfr-input-localized .lfr-input-localized-state {
		background: #DDD;

		&.lfr-input-localized-state-error {
			background: #FF0047;
		}
	}

	.palette-item-selected .lfr-input-localized-state {
		background: #27C1F2;
	}

	&.input-localized-focused {
		.palette-item-selected .lfr-input-localized-state {
			height: 6px;
			width: 6px;
			margin-right: -6px;
		}
	}

	.palette-item-inner {
		display: inline;
		height: 16px;
		width: 16px;
	}
}

.input-prepend, .input-append {
	.input-localized .input-localized-content {
		margin-top: 3px;
	}
}