@import 'colors';
@import 'components/buttons';
@import 'components/map';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/navigation_scrolled';
@import 'layout/welcome_page';

body {
    &.has-control-menu {
        header {
			margin-top: 0; 

			@include media-breakpoint-down(sm) {
			margin-top: 48px;
			}  
        }
  	}

  	.initial-background {
		background-repeat: no-repeat;
		background-size: cover;
		background:
			#3c3a3a
			center center
			fixed
			url(../images/main_background.jpg)
	}

	.default-background {
		background-color: #fff;
	}
}



