@import 'colors';
@import 'components/buttons';

@import 'layout/navigation';
@import 'layout/welcome-page';
@import 'layout/footer';

@import 'components/map';

body {
  &.has-control-menu {

    header {
      margin-top: 0; 

      @include media-breakpoint-down(sm) {
        margin-top: 48px;
      }  
    }
  }
  
  //RESPONSIVE BACKGROUND
  background-attachment: fixed; //Fixes the image in the viewport so that it doesn't move when the content height is greater than the image height
  background-color: #464646;  //Solid background color that will display while image is loading or if image is not working
  background-image: url(../images/main-background.jpg);
  background-position: center center;   //Background image is centered vertically and horizontally at all times
  background-repeat: no-repeat;   //Image doesn't repeat into tile formation
  background-size: cover; //makes the background image rescale based on its container's size
}
  
