
body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

.sign-in {
	border: 2px solid #000;
	border-radius: 200px;
	color: #000;
	display: block;
	float: right;
	margin-right: 15px;
	padding: 6px;
	text-transform: uppercase;
}

.header-banner {
	margin-bottom: 80px;
	padding-top: 90px;
}

.logo-image {
	display: block;
	
	img {
		display: block;
		height: auto;
		margin: 0 auto;
		margin-bottom: 20px;
		width: 25%;
	}
}

h1 {
	font-size: 2.5em;
	letter-spacing: 10px;
	text-align: center;
	text-transform: uppercase;
} 

.beginning {
	padding: 10px;
	text-align: center;
}

.navigation-bar {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 40px;
	justify-content: center;
	margin-top: 100px;
	z-index: 1;

	ul {
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		text-align: center;
	} 

	li {
		background-color: #000;
		border-radius: 200px;
		height: auto;
		list-style: none;
		margin-right: 20px;
		text-transform: uppercase;
		width: 120px;

		&:hover ul {
			display: block;
		}

		ul {
			display: none;
			height: auto;
			margin: 0;
			padding: 0;
			z-index: 3; 
		}
	}

	a {
		color: #FFF;
		padding: 5px;
		display: block;
	}
}

a:hover, .navigation-bar a:hover {
	color: #2F4F4F;
	text-decoration: none;
}

.child-bar li {
	background: rgba(48, 48, 48, 0.5);
	margin-top: 3px;
}

.home-breadcrumbs {
	display: none;
} 

.bottom-footer {
	background: #E8ECF0;
	font-size: 12px;
	height: 36px;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}