.drop-zone.drop-enabled:not(.no-border) {
	outline-color: transparentize(#B0B4BB, 0.5);
}

.drop-here-info {
	.drop-icons {
		.drop-icon:nth-of-type(1), .drop-icon:nth-of-type(3) {
			background: #F5F8FA;
			color: #869CAD;
		}

		.drop-icon:nth-of-type(2) {
			background: #65B6F0;
			color: #FFF;
		}
	}

	.drop-text {
		color: #FFF;
	}
}

.drop-active .drop-here-info {
	background-color: transparentize(#000, 0.4);
}