$border-color: #DDD;
$body-bg: #FFF;
$footer-bg: #F8F8F8;

$bright-color: #FF5A60;
$complementary-color: #30313F;
$dark-color: #1C1B1B;
$light-color: #FFF;

$placeholder-color: #888;
$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 0 solid $light-color;

$canvas-image: '/o/kyoung-liferay-theme/images/filler.png';