$color-background-black: #090909;
$color-background-cards: #f9f9f9;
$color-background-grey: #e6e6e6;
$color-text-light: #fff;
$color-button-text-light: #000;
$color-header-text-light:#fff; 
$color-text-black:#000;
$color-text-dark:#0009;

$nav-animation-transition-length: 0.4;
$nav-icon-size: 3rem;
$nav-scroll-border: #e7e7e7;
$nav-color-active-background: #212121;