// Colors
$color-body: #f9f9f9;
$color-white: #fff;
$color-header-text:#fff; 
$color-general-text:#0009;
$color-black-text:#000;
$color-footer-text:#0009;

$color-background-black: #090909;
$color-black: #090909;


$color-button-circle: #fff;
$color-button-circle-text: #000000;


$color-background-dark: rgb(37, 37, 37);
$color-hover-text: rgba(48, 49, 51, .5);

$color-grey-background: #e6e6e6;
$color-primary-text: #666666;
$color-primary-other: #777;

//Navigation Bar
$nav-height: 7rem;

