$color-background-black: #090909;
$color-background-cards: #f9f9f9;
$color-background-grey: #e6e6e6;
$color-border-black: #090909;
$color-button-border-light: #fff;
$color-button-text-light: #000000;
$color-header-text-light:#ffffff; 
$color-text-black:#000;
$color-text-dark:#0009;
$color-text-light: #fff;

$nav-animation-transition-length: 0.8;
$nav-icon-size: 3rem;
$nav-items-count: 4;


