.hero {
    height:100vh;
    background: url('../images/hero/cat_hero_compressed.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-header-text;


    @include respond(tablet-landscape){
        background-position-x: 50%;
    }

    @include respond(phone){
        flex-direction: column;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 10rem;
    }

    &__category {
        @include flex($justify-content: flex-start);
        margin-bottom: 3rem;
        opacity: 0.8;

        hr {
            border: .5px solid $color-header-text;
            display: inline-block;
            width: 4rem;
        }

        span {
            font-size: 1.3rem;
            font-weight: 600;
            letter-spacing: .2rem;
            margin-left:2rem;
            position: relative;
            text-transform: uppercase;
        }
    }
    
    &__title {
            font-size: 6.5rem;
            font-weight: 600;
            letter-spacing: -0.01rem;
            white-space: nowrap;
    }

    &__description {
        max-width: 40%;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-top: 3rem;
    }
    
}