#navigation {
    align-items: center;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 5000;
}

.site-content {

    @include flex;

    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 110rem;

    &--headline {
        color: $color-header-text-light;
        font-size: calc(2vw + 1rem);
        font-weight: 200;
    }
}

.menu--wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    width: 5%;
}

.menu-icon {
    cursor: pointer;
    height: $nav-icon-size;
    margin-right: 1rem;
    margin-top: 1rem;
    position: relative;
    width: $nav-icon-size;

    &--line {
        background-color: $color-header-text-light;
        display: block;
        height: 0.2rem;
        margin-bottom: 0.4rem;
        transition: transform 0.2s ease, background-color 0.5s ease;
        width: $nav-icon-size;
    }

    &--line-left {
        width: $nav-icon-size / 2;
    }

    &--line-right {
        float: right;
        width: $nav-icon-size / 2;
    }
}

.menu-title {
    color: $color-header-text-light;
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.nav {

    @include flex(center, row, space-between);
    
    position: fixed;
    z-index: 1000;

    &:before,
    &:after {
        background: rgba(#eaeaea, 0.2);
        content: '';
        height: 100vh;
        position: fixed;
        transform: translateX(0%) translateY(-100%);
        transition: transform cubic-bezier(.77, 0, 0.175, 1) $nav-animation-transition-length + s;
        width: 100vw;
    }

    &:after {
        background: #212121;
        transition-delay: 0s;
    }

    &:before {
        transition-delay: 0.1s;
    }

    &--logo {
        margin-left: 2rem;

        @include respond(phone) {
            margin-left: 0;
        }
    }

    &--list {
        opacity: 0;
    }

    &--list-item {
        color: $color-header-text-light;
        display: inline-block;
        margin-right: 2.5rem;
        position: relative;
        opacity: 0;
        transform: translate(0%, 100%);
        transition: ease $nav-animation-transition-length + s;
        transition-delay: $nav-animation-transition-length + s;

        &:before {
            background: $color-header-text-light;
            content: '';
            height: 0.1rem;
            position: absolute;
            top: 100%;
            transform: translate(0%, 0%);
            transition: all 0.3s ease;
            width: 2rem;
        }

        &:hover {

            &:before {
                width: 100%;
            }
        }
    }
}

body.nav-active {

    .menu-icon {

        &--line {
            background-color: $color-header-text-light;
            transform: translateX(0px) rotate(-45deg);
        }

        &--line-left {
            transform: translateX(1px) rotate(45deg);
        }

        &--line-right {
            transform: translateX(-2px) rotate(45deg);
        }
    }

    .nav {
        visibility: visible;

        &:before,
        &:after {
            transform: translateX(0%) translateY(50%);
        }

        &--content {
            cursor: pointer;
            font-size: calc(2vw + 1rem);;
            font-weight: 200;
            position: fixed;
            text-align: center;
            top: 50%;
            transform: translate(0%, -50%);
            width: 100%;
            z-index:1600;

            @include respond(tablet-landscape) {
                font-size: 4rem;
            }

            @include respond(phone) {
                @include flex($align-items: flex-start);
            }

            &--right {
                left: 50%;
            }
        }

        &--list {
			align-items: flex-start;
			display: flex;
            flex-direction: column;
            opacity: 1;
            margin-left: 20rem;
            transition: opacity 0.2s ease-in;

            @include respond(phone) {
                margin-left: 0;
            }
        }

        &--list-item {
            opacity: 1;
            transform: translateX(0%);

            @for $i from 0 through $nav-items-count {
                &:nth-child(#{$i}) {
                    transition-delay: $nav-animation-transition-length * $i / 8 + 0.5 + s;
                }
            }
        }
    }
}