$header-font: 'Oswald', sans-serif;
$normal-font: 'Lato', sans-serif;

$body-color: #F9F6F5;
$dark-color: #272833;
$border-color: 1px solid #E8E8E8;
$bright-color: #EF997F;
$light-color: #FFF;

$border-transparent: 1px solid rgba(255, 255, 255, 0.2);
$bright-transparent: rgba(239, 153, 127, 0.3);
$dark-transparent: rgba(0, 0, 0, 0.5);
$light-transparent: rgba(255, 255, 255, 0.15);

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid #E7E7ED;