$body-color: #F9F6F5;
$border-color: 1px solid #E8E8E8;
$border-transparent: 1px solid rgba(255, 255, 255, 0.2);
$bright-color: #EF997F;
$bright-transparent: rgba(239, 153, 127, 0.3);
$dark-color: #1C1C1C;
$dark-transparent: rgba(0, 0, 0, 0.5);
$header-font: 'Oswald', sans-serif;
$header-path: '../images/header.jpg';
$light-color: #FFF;
$light-transparent: rgba(255, 255, 255, 0.15);
$normal-font: 'Lato', sans-serif;
$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid #E7E7ED;
$tag-color: #B5BBC5;