@import "portlet/portlet_entry_layout";
@import "portlet/portlet_decorators";
@import "portlet/portlet_hello_world";
@import "portlet/portlet_slider";

#page-container {
	background-color: $beige-color;
	font-family: $normal-font;
	min-height: 100vh;
	position: relative;

	#container-wrap {
		padding-bottom: 50px;
	}
}

.site-header {
	background-attachment: fixed;
	background-image: url(/o/frontend-theme-oliv/images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;

	.container {
		position: relative;
		z-index: 11;
	}
}

.site-header:after {
	background-color: $dark-background;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.top-bar {
	background-color: $transparent-background;
	border-bottom: $border-background;
	border-top: $border-background;
	height: 50px;
	position: relative;
	z-index: 11;
}

.social-navigation {
	float: left;
	overflow: hidden;
	position: relative;
	width: 85%;
	z-index: 12;

	ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		border-right: $border-background;
		box-sizing: border-box;
		float: left;
		line-height: 1;
		list-style: none;
		padding-bottom: 15px;
		padding-top: 15px;
		position: relative;
		transition: background-color 0.3s;
		width: 20%;
	}

	li:hover {
		background-color: $orange-background;
	}

	li a:before {
		color: $white-color;
		font-family: FontAwesome;
		font-size: 20px;
		text-decoration: none;
	}

	a[href*="facebook"]:before {
		content: '\f09a';
	}

	a[href*="instagram"]:before {
		content: '\f16d';
	}

	a[href*="twitter"]:before {
		content: '\f099';
	}

	a[href*="linkedin"]:before {
		content: '\f0e1';
	}

	a[href*="pinterest"]:before {
		content: '\f0d2';
	}

	li a {
		display: block;
	}

	li a:hover {
		text-decoration: none;
	}
}

.menu-login {
	background-color: $orange-background;
	box-sizing: border-box;
	color: $white-color;
	cursor: pointer;
	float: right;
	height: 50px;
	position: relative;
	width: 15%;
}

#p_p_id_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_ {
	padding: 9px 0;
	text-align: center;

	.sign-in {
		color: $white-color;
		font-size: 15px;
		text-decoration: none;
	}
}

#_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_sidenavUserToggle {
	font-size: 10px;
	text-decoration: none;

	.user-icon {
		color: $white-color;
		margin: auto;
	}

	.user-full-name {
		display: none;
	}
}

.site-branding {
	color: $white-color;
	font-family: $header-font;
	padding: 80px 15px;
	text-align: center;

	.site-title {
		display: table;
		font-size: 62px;
		font-weight: bold;
		margin: 0 auto;
		padding: 15px;
	}

	.site-description {
		border-top: $border-background;
		color: #BBB;
		display: table;
		font-size: 18px;
		font-weight: normal;
		margin: 15px auto 0;
		padding: 15px 15px 0;
	}
}

.main-navigation {
	background-color: $transparent-background;
	border-bottom: $border-background;
	border-top: $border-background;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 13;

	.nested-navigation {
		display: inline-block;
	}

	li {
		text-transform: uppercase;
		transition: background-color 0.3s;
		z-index: 11;
	}

	a {
		border-right: $border-background;
		color: $white-color;
		display: block;
		font-family: $header-font;
		font-size: 16px;
		text-decoration: none;
	}

	li:last-of-type a {
		border-right: 0;
	}

	li:hover {
		background-color: $orange-background;
	}
}

#portlet_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet {
	margin: 0;

	.portlet-content {
		padding: 0;
	}

	.nav-link {
		padding: 25px 20px;
	}

	.lfr-nav-child-toggle {
		display: none;
	}
}

.dropdown-menu {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	padding: 0;

	.dropdown-item {
		background-color: $white-color;
		display: block;
		font-family: $normal-font;
		font-size: 14px;
		padding: 15px 20px;
		text-transform: none;
		width: 100%;
	}

	.dropdown-item:hover, .dropdown-menu > li > a:hover {
		background-color: $orange-background;
		color: #595959;
	}
}

.portlet-layout {
	margin: 20px auto;

	.portlet-login {
		padding: 20px;

		a {
			color: $dark-color;
		}

		a.taglib-icon:focus .taglib-text, a.taglib-icon:hover .taglib-text {
			color: $dark-color;
			text-decoration: none;
		}
	}
}

#footer {
	background-color: #0D0F10;
	bottom: 0;
	color: #808080;
	font-size: 14px;
	height: 50px;
	position: absolute;
	width: 100%;

	.powered-by {
		margin: auto;
		padding-top: 10px;
	}

	a {
		color: #808080;
		text-decoration: none;
	}
}