@import "portlet/portlet_entry_layout";
@import "portlet/portlet_decorators";
@import "portlet/portlet_hello_world";
@import "portlet/portlet_slider";

.page-container {
	background-color: $body-color;
	font-family: $normal-font;
	min-height: 100vh;
	position: relative;

	.wrap-container {
		padding-bottom: 10vh;
	}
}

.site-header {
	background-attachment: fixed;
	background-image: url(/o/frontend-theme-oliv/images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;

	&:after {
		background-color: $dark-transparent;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.top-bar {
	background-color: $light-transparent;
	border-bottom: $border-transparent;
	border-top: $border-transparent;
	height: 50px;
	position: relative;
	z-index: 11;
}

.social-navigation {
	float: left;
	overflow: hidden;
	position: relative;
	width: 85%;
	z-index: 12;

	ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		border-right: $border-transparent;
		box-sizing: border-box;
		float: left;
		line-height: 1;
		list-style: none;
		padding-bottom: 15px;
		padding-top: 15px;
		position: relative;
		transition: background-color 0.3s;
		width: 20%;

		&:hover {
			background-color: $bright-transparent;
		}

		a {
			display: block;

			&:before {
				color: $light-color;
				font-family: FontAwesome;
				font-size: 20px;
				text-decoration: none;
			}

			&[href*="facebook"]:before {
				content: '\f09a';
			}

			&[href*="instagram"]:before {
				content: '\f16d';
			}

			&[href*="twitter"]:before {
				content: '\f099';
			}

			&[href*="linkedin"]:before {
				content: '\f0e1';
			}

			&[href*="pinterest"]:before {
				content: '\f0d2';
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.menu-login {
	background-color: $bright-transparent;
	box-sizing: border-box;
	cursor: pointer;
	float: right;
	height: 50px;
	position: relative;
	width: 15%;

	& > .portlet-user-personal-bar {
		padding: 9px 0;
		text-align: center;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}

		.sign-in {
			color: $light-color;
			font-size: 15px;

			@media all and (max-width: 650px) {
				.taglib-icon-label {
					display: none;
				}
			}
		}

		.user-avatar-link {
			.user-icon {
				color: $light-color;
				font-size: 14px;
				margin: auto;
			}

			.user-full-name {
				display: none;
			}
		}
	}
}

.site-branding {
	color: $light-color;
	font-family: $header-font;
	padding: 80px 15px;
	position: relative;
	text-align: center;
	z-index: 11;

	.site-title {
		display: inline;
		font-size: 62px;
		font-weight: bold;
		margin: 0 auto;
		padding: 15px;

		img {
			border: $border-color;
			bottom: 5px;
			height: 60px;
			position: relative;
		}
	}

	.site-description {
		border-top: $border-transparent;
		color: #BBB;
		display: table;
		font-size: 18px;
		font-weight: normal;
		margin: 15px auto 0;
		padding: 15px 15px 0;
	}

	@media all and (max-width: 411px) {
		padding: 20px 0;

		.site-title {
			font-size: 50px;

			img {
				display: none;
			}
		}

		.site-description {
			display: none;
		}
	}
}

.toggle-navigation {
	display: none;

	@media all and (max-width: 411px) {
		color: $light-color;
		display: block;
		font-size: 25px;
		position: relative;
		z-index: 13;
	}
}

.main-navigation {
	background-color: $light-transparent;
	border-bottom: $border-transparent;
	border-top: $border-transparent;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 13;

	.close-navigation {
		display: none;
	}

	li {
		text-transform: uppercase;
		transition: background-color 0.3s;
		z-index: 11;

		&:last-of-type a {
			border-right: 0;
		}

		&:hover {
			background-color: $bright-transparent;
		}

		a {
			border-right: $border-transparent;
			color: $light-color;
			display: block;
			font-family: $header-font;
			font-size: 16px;
			text-decoration: none;
		}
	}

	.dropdown-menu {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		padding: 0;

		.dropdown-item {
			background-color: $light-color;
			color: #595959;
			display: block;
			font-family: $normal-font;
			font-size: 14px;
			padding: 15px 20px;
			text-transform: none;
			width: 100%;

			&:hover {
				background-color: $bright-transparent;
			}
		}
	}

	.nested-navigation {
		display: inline-block;

		.portlet-navigation section.portlet {
			margin: 0;

			.portlet-content {
				padding: 0;
			}

			.nav-link {
				padding: 25px 20px;
			}

			.lfr-nav-child-toggle {
				display: none;
			}
		}
	}

	@media all and (max-width: 411px) {
		display: none;

		.nested-navigation .portlet-navigation section.portlet {
			.navbar-nav {
				display: block;
			}

			.nav-link {
				border-right: 0;
				padding: 10px;
			}

			.lfr-nav-child-toggle {
				display: inline;
			}
		}
	}
}

.portlet-layout {
	margin: 0;
	width: 100%;

	.portlet-login {
		margin: 20px auto;
		width: 70%;

		a {
			color: $dark-color;
		}

		a.taglib-icon:focus .taglib-text, a.taglib-icon:hover .taglib-text {
			color: $dark-color;
			text-decoration: none;
		}
	}
}

.footer {
	background-color: #0D0F10;
	bottom: 0;
	color: #808080;
	font-size: 14px;
	height: 7vh;
	position: absolute;
	width: 100%;

	.powered-by {
		margin: auto;
		padding-top: 10px;
	}

	a {
		color: #808080;
		text-decoration: none;
	}
}