@import "variables";

body {
	background-color: $body-color;
	font-family: $normal-font;
}

#ControlMenu {
	position: static;
}

.site-header {
	background-attachment: fixed;
	background-image: url(/o/frontend-theme-oliv/images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
}

.site-header:after {
	background-color: $dark-background;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.site-header .container {
	position: relative;
	z-index: 11;
}

.top-bar {
	background-color: $transparent-background;
	border-bottom: $border-background;
	border-top: $border-background;
	height: 50px;
	position: relative;
	z-index: 11;
}

.social-navigation {
	float: left;
	overflow: hidden;
	position: relative;
	width: 85%;
	z-index: 12;
}

.social-navigation ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.social-navigation li {
	border-right: $border-background;
	box-sizing: border-box;
	float: left;
	line-height: 1;
	list-style: none;
	padding-bottom: 15px;
	padding-top: 15px;
	position: relative;
	transition: background-color 0.3s;
	width: 20%;
}

.social-navigation li:hover {
	background-color: $orange-background;
}

.social-navigation li a {
	color: $white-color;
	font-size: 20px;
	text-decoration: none;
}

.menu-login {
	background-color: $orange-background;
	box-sizing: border-box;
	color: $white-color;
	cursor: pointer;
	float: right;
	height: 50px;
	position: relative;
	width: 15%;
}

#p_p_id_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_ {
	line-height: normal;
	padding-top: 9px;
	text-align: center;
}

#p_p_id_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_ .sign-in {
	color: $white-color;
	font-size: 15px;
	text-decoration: none;
}

#_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_sidenavUserToggle {
	color: $white-color;
	font-size: 10px;
	text-decoration: none;
}

#_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_sidenavUserToggle .user-avatar-image {
}

#_com_liferay_product_navigation_user_personal_bar_web_portlet_ProductNavigationUserPersonalBarPortlet_sidenavUserToggle .user-full-name {
	display: none;
}

.site-branding {
	color: $white-color;
	font-family: $header-font;
	padding: 80px 15px;
	text-align: center;
}

.site-title {
	display: table;
	font-size: 62px;
	font-weight: bold;
	margin: 0 auto;
	padding: 15px;
}

.site-description {
	border-top: $border-background;
	color: #BBB;
	display: table;
	font-size: 18px;
	font-weight: normal;
	margin: 15px auto 0;
	padding: 15px 15px 0;
}

.main-navigation {
	background-color: $transparent-background;
	border-bottom: $border-background;
	border-top: $border-background;
	position: relative;
	width: 100%;
	z-index: 13;
}

#portlet_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet {
	margin: 0;
}

#portlet_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet .portlet-content {
	padding: 0;
}

#portlet_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet .portlet-header {
	display: none;
}

.main-navigation li {
	text-transform: uppercase;
	transition: background-color 0.3s;
	z-index: 11;
}

.main-navigation a {
	border-right: $border-background;
	color: $white-color;
	display: block;
	font-family: $header-font;
	font-size: 16px;
	text-decoration: none;
}

#portlet_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet .nav-link {
	padding: 25px;
}

.main-navigation li:last-of-type a {
	border-right: 0;
}

.main-navigation li:hover {
	background-color: $orange-background;
}

.oria-slider {
	background-color: $white-color;
	border-bottom: $grey-color;
	padding: 15px;
}

.featured-inner {
	margin: 0;
}

.slider-inner {
	display: block;
	float: none;
	margin: 0 auto;
	max-width: 1500px;
	position: relative;
	transition: all 1.5s;
}

.owl-wrapper-outer {
	height: 159px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.owl-wrapper {
	animation: owl-slide 15s ease 2s infinite;
	display: block;
	left: 0;
	width: 2676px;
}

@keyframes owl-slide {
	0% {
		transform: translate3d(0, 0, 0);
	}

	50% {
		transform: translate3d(-238px, 0, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

.owl-item {
	float: left;
	position: relative;
	width: 223px;
}

.owl-controls {
	position: absolute;
	right: 10px;
	text-align: center;
	top: -10px;
	z-index: 99;
}

.owl-controls {
	color: $orange-color;
	display: inline-block;
	font-size: 25px;
	line-height: 1;
	zoom: 1;
}

.owl-buttons div {
	display: inline-block;
}

.owl-prev {
	margin-right: 10px;
}

.slide {
	margin: 15px;
	position: relative;
}

.slide img {
	height: auto;
	max-width: 100%;
	transition: opacity 0.5s;
}

.slide img:hover {
	opacity: 0.7;
}

.slide-title {
	bottom: 0;
	font-size: 14px;
	font-weight: 300;
	margin: 0 15px 15px 0;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 12;
}

.slide-title a {
	background-color: $orange-color;
	color: $white-color;
	display: table;
	padding: 10px;
	text-decoration: none;
	transition: background-color 0.4s;
}

.portlet-content.portlet-content-editable .portlet-header .portlet-title-text {
	display: none;
}

.site-area {
	box-sizing: border-box;
	padding: 0 15px;
	width: 100% !important;
}

.posts-layout {
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	margin: 0 auto 30px;
	position: relative;
	width: 100%;
}

.item-sizer {
	background-color: $white-color;
	border: $grey-color;
	margin: 15px;
	padding: 30px;
}

.entry-thumb {
	font-size: 14px;
	margin-bottom: 30px;
}

.entry-thumb img {
	height: auto;
	width: 100%;
}

.read-more {
	border: 1px solid;
	color: $orange-color;
	display: table;
	margin: 30px auto 0;
	padding: 5px 10px;
	text-align: center;
	transition: all 0.4s;
}

.read-more:hover {
	background-color: $orange-color;
	color: $white-color;
}

.entry-header {
	text-align: center;
}

.entry-data span, .entry-data a {
	color: #B5BBC5;
	font-size: 13px;
	text-decoration: none;
}

.entry-title {
	font-family: $header-font;
	font-weight: normal;
	margin: 15px 0;
	text-align: center;
}

.entry-title a {
	color: #1C1C1C;
	font-size: 28px;
	text-decoration: none;
}